<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuentes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Styless.css') }}">
</head>
<body>
    <header>
        <h1 class="Titulo">Fuentes</h1>
        <br>
        <u><i>
            <h2 class="Pagina_Main"><a href="/">Inicio</a></h2>
            <h2 class="Pagina1"><a href="/Pagina1">Paginas relacionadas</a></h2>
            <h2 class="Pagina2"><a href="/Pagina2">Fotos del tema</a></h2>
            <h2 class="Pagina3"><a href="/Pagina3">Fuentes</a></h2>
        </i></u>
        <br>
        <br>
    </header>
    <p>
        Aquí puedes encontrar las fuentes utilizadas en este sitio web. Si deseas más información 
        sobre las fuentes, puedes visitar los siguientes enlaces:
        <ul>
            <li>Gobierno de México. (s.f.). ¿Qué es el cambio climático? 
                <a href="https://cambioclimatico.gob.mx/que-es-el-cambio-climatico/">
                    https://cambioclimatico.gob.mx/que-es-el-cambio-climatico/</a></li>
            <li>Naciones Unidas. (s.f.). Causas y efectos del cambio climático. Recuperado de:
                <a href="https://www.un.org/es/climatechange/science/causes-effects-climate-change">
                    https://www.un.org/es/climatechange/science/causes-effects-climate-change</a></li>
            <li>Universidad Ean. (s.f.). 5 acciones cotidianas para mitigar los efectos del cambio 
                climático. Recuperado de:
                <a href="https://universidadean.edu.co/noticias/5-acciones-cotidianas-para-mitigar-los-efectos-del-cambio-climatico">
                    https://universidadean.edu.co/noticias/5-acciones-cotidianas-para-mitigar-
                    los-efectos-del-cambio-climatico</a></li>
        </ul>
    </p>
</body>
<footer>
    <p class="footer-text">© 2023 Tu Sitio Web. Todos los derechos reservados.</p>
    <h3 >Mas sobre el creador</h3>
        <p>Este sitio fue creado por un estudiante de KODLAND con el objetivo de informar y concientizar sobre el cambio climático. 
            Si tienes dudas, sugerencias o quieres aportar al sitio, puedes ponerte en contacto a través del correo electrónico:
            <br>
            <u><i class="Autor">zamudiosaldivaremiliano@gmail.com</i></u>
        </p>
</footer>
</html>